body {
    font-family: 'Roboto Serif',Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #4C4953;
    font-size: 16px;
    text-align: center;
    overflow-x: hidden;
    background-image: url('../images/background.webp');   
    background-size: cover; 
    min-height:100vh;
    background-repeat: no-repeat;
    background-position: center; 
    font-size:16px;
    justify-content: center;
    align-items: center;
    display: flex; 
    flex-direction: column;
}
header {
    background-color: #FF5A6C;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
header nav {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}
header nav li {
    display: inline;
}
header nav a {
    text-decoration: none;
    color: white;
  
    padding: 10px 20px;
    transition: background-color 0.3s;
}
header nav a:hover {
    background-color: #ff3333;
    border-radius: 5px;
}
footer {
    background-color: #FBE1E6B3;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #e87ca3;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;     
    width:80%;
    left:8%;
    word-wrap: break-word;
    margin-bottom: 10px;
}

main h1 {
    font-size: 36px;
    color:#1F1E24 ;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    word-wrap: break-word;
}
caption, h2{
    font-size:22px;
    word-wrap: break-word;
    color:#38363f;
}
caption{
    font-weight:bold;
}
th{
    font-weight:normal;
}

main {
    padding: 40px;
    flex: 1;
}

.sections-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    margin-top: 5%;
}

section {
    padding: 20px;
    box-sizing: border-box;
    background-color: #FBE1E6B3;
    border: 1px solid #e87ca3;
    border-radius: 25px;
    word-wrap: break-word;
    text-align: left;
}
section:nth-child(1) ul{
    margin-left:-20px;
}

section:nth-child(1), section:nth-child(2) {
    width: 30%;
}

section:nth-child(3) {
    width: 40%;
}
div{
    width:100%;
    margin:0px;
    padding:0px;
}

table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0; 
    margin: 20px 0;
    border: 1px solid #9E003C;  
    border-radius: 25px; 
    overflow: hidden;  
    word-wrap: break-word;
    
}

table th, table td {
    padding: 10px;
    border: 1px solid #9E003C; 
    text-align: center;
}

table th:first-child,
table td:first-child {
    border-left: none; 
    border-top:none;
    
}
table th:last-child,
table td:last-child {
    border-right: none; 
    border-top:none;
}

.skill-bar {
    background-color: #FF5A6C;
    height: 20px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    margin-left: 7%;
    width:85%;
}

@media (min-width: 1440px) {
    header{
       height: 3vh;
    }
    header nav ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    header .hamburger {
        display: none;
    }

    header nav a {
        flex: 1;
        text-align: center;
        margin: 70px;
    }
    main{
        margin-left: 30px;
        margin-right: 150px;
        margin-top: 0px;
    }

    main h1 {        
        font-size: 48px;
        padding-top:5%;
    }
    caption, main h2{
        font-size:32px;
    }
    footer {
        font-size: 14px;
        margin-left: 1%;
        height:3vh;
    }
    section{
        padding-bottom: 60px;
    }
    .sections-container{
        margin-top:10%;
    }
    section:nth-child(1){
        width:25%;
    }
    section:nth-child(2){
        width:35%;
    }
    .table-container{
        width:30%;
    }
    table{
        margin-top: 50px;
        width:140%;
    }
    caption{
        margin-bottom: 50px;
    }
    table th{
        width:10px;
    }
    table th:first-child{
        max-width:28px;
        padding-left: 0px;
        margin-left:0px;
    }
    
}
/* Tablet landscape version (1024x767 to 1439x1024) */
@media screen and (min-width: 767px) and (max-width: 1439.9px) and (orientation: landscape) {
    header {
        width: 200px;
        position: fixed;
        left: 0;
        top: 0;
        bottom: auto;
        height: 80vh;
        min-height: 370px;
        width:17%;
        border-bottom-right-radius: 50px;
    }

    header nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        padding-top: 1vh;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
    }

    header nav li {
        width: 100%;
        text-align: left;
    }

    header nav a {
        display: block;
        width: 90%;
        padding: 20% 20px;
    }

    header .hamburger {
        display: none;
    }

    main {
        margin-left: 15%; 
        padding-top: 2%;
    }
    main h1 {        
        font-size: 36px;
    }
    footer {
        font-size: 14px;
        margin-left:6%;
        width:73%;
        height:2vh;
    }
    .sections-container {
        margin-top: 2%;
    }
    section:nth-child(1){
        width:20%;
    }
    section:nth-child(2){
        width:35%;
    }
    .table-container{
        width:40%;
    }
    table{
        margin-top:30px;
        width:100%;
    }
    caption{
        margin-bottom: 50px;
    }
    table th:first-child{
        max-width:70px;
        min-width:70px;
    }
    .skill-bar{
        width:100%;
        margin-left: 0;
    }
}

/* Tablet portrait version (767x1024 to 1023x1440) */
@media screen and (min-width: 767px) and (max-width: 1439.9px) and (orientation: portrait) {
   body { 
       text-align: left;
   }
    header {
        width: 200px;
        position: fixed;
        left: 0;
        top: 0;
        bottom: auto;
        height: 50vh;
        min-height: 300px;
        border-bottom-right-radius: 50px;
        width:18%;
        
    }

    header nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        padding-top: 1vh;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
    }

    header nav li {
        width: 100%;
        text-align: left;
        word-wrap: break-word;
    }

    header nav a {
        display: block;
        width: 80%;
        padding: 3vh 20px;
    }

    header .hamburger {
        display: none;
    }

    main {
        margin-left: 100px;
        padding-top: 0px;
    }
    main h1 {
        font-size: 36px;
    }
    footer{
        font-size: 14px;
        margin-left: 9%;
        width:65%;
    }
    section:nth-child(1){
        width:35%;
    }
    section:nth-child(2){
        width:60%;
    }
    caption{
        margin-bottom: 20px;
    }
    table{
        width:70%;
    }
    table th, table td{
        text-align: left;
    }
    table th:first-child{
        max-width:50px;
        min-width:50px;
    }
}

/* Mobile landscape (less than 768px) */



@media screen and (max-width: 767px) and (orientation: landscape) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 8px;
        position: relative;
        
    }

    header nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 1px 8px;
    }

    header .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 33px;
        height: 23px;
        background: none;
        border: none;
        cursor: pointer;
        margin-bottom:-px; 
        margin-left: 0px;  
        z-index: 1001; 
    }

    header .hamburger span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 2px;
    }

    header nav ul {
        display: none; 
        position: absolute; 
        top: 0; 
        right: 0; 
        background-color: #FF5A6C;
        flex-direction: row;
        align-items: flex-start;
        padding: 10px ;
        z-index: 1000;  
        font-size: 14px;
        width: calc(100% - 60px);
        margin-right: 20px;
    }

    header nav ul.show {
        display: flex; 
    }

    header nav li {
        margin: 0 5px;
        margin-top: 5px;
        margin-left:15px;
    }

    header nav a {
        text-decoration: none;
        color: white;
        padding: 5px 23px;
        font-size:12px;
    }
    main{
        padding-top:0px;
    }
    main h1 {
        font-size: 32px;
        padding-top: 0px;
        margin-bottom: 15px;
    }
    table{        
        font-size: 14px;
    }
    footer{
        font-size: 12px;        
        width:70%;
        height: 5px;
    }
    section:nth-child(1){
        width:35%;
    }
    section:nth-child(2){
        width:60%;
    }
    caption{
        margin-bottom: 20px;
        text-align: left;
        padding-left: 10px;
    }
    table{
        width:65%;
    }
    table th, table td{
        text-align: left;
    }
    table th:first-child{
        max-width:20px;
    }
}
/* Mobile portrait (less than 376px) */
@media screen and (max-width: 767px) and (orientation: portrait) {
    header nav {
        justify-content: space-between;
        position: relative;
        padding: 10px 8px;
        height: 5px;
        
    }

    header .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 30px;
        height: 20px;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0 5px; 
        margin-left: 0px; 
        z-index: 1001; 
        position: absolute; 
    }

    header .hamburger.active {
        position: fixed;
        top: 14%; 
        z-index: 1001;
    }

    header .hamburger span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: white; 
        border-radius: 2px;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height:25vh;
        background-color: #FF5A6C;
        position: fixed; 
        top: 0;
        right: 0;
        padding: 20px;
        margin: 0;
        z-index: 1000; 
        transition: all 0.3s ease;
    }

    header nav ul.show {
        display: flex;
    }
    
    header nav li {
        width: 30%;
        text-align: right;
        border-bottom: none; 
    }
    
    header nav a {
        padding: 10px 0;
        display: block;
        width: 100%; 
        font-size: 12px;
    }
    main{
        padding-left: 20px;
        padding-right: 20px;
    }
    main h1{        
        margin-top: 0px;
        padding-top: 10px;
        padding-left: 17%;
        text-align: center;
        font-size: 32px;
        width:60%;
    }
    footer{
        font-size: 10px;        
    }
    table{        
        margin-top: 0px;
        font-size: 14px;
    }
    section:nth-child(1){
        width:80%;
    }
    section:nth-child(2){
        width:90%;
    }
    caption{
        margin-bottom: 20px;
        text-align: left;
        padding-left: 10px;
    }
    table{
        width:100%;
    }
    table th, table td{
        text-align: left;
    }
    table th:nth-child(2){
        text-align: center;
    }
    table th:first-child{
        max-width:35px;
        min-width: 35px;
    }
    .skill-bar{
        width:100%;
        justify-content: center;
        margin-left: 0px;
    }
    body.moved-content { 
        margin-top: 25vh; 
        transition: margin-top 0.3s ease; 
    }
}


@media screen and (max-width: 768px) {
    .sections-container {
        flex-wrap: wrap;
    }

    div {        
        margin-top: 20px;
    }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {
    .sections-container {
        display: flex;
    }
}


@media screen and (max-width: 480px) {
    .sections-container {
        flex-direction: column;
    }

    section {
        width: 100%;
    }
    
}
